<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>频道</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style type="text/css">
        body{padding: 10px;}
        .header span{background: #009688;margin-left: 30px;padding:10px;color: #ffffff;}
        .header div{border-bottom: solid 2px #009688; margin-top: 8px;}
    </style>
</head>
<body>
<form class="layui-form">
    <div class="header">
        <span>频道管理</span>
        <div></div>
    </div>

    <table class="layui-table">
        <input type="hidden" name="flag" value="channel" />
        <thead>
        <tr>
            <th>ID</th>
            <th>排序</th>
            <th>标签名称</th>
            <th>是否禁用</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td><input type="text" class="layui-input" name="ords[{$vo.id}]" value="{$vo.ord}"></td>
            <td><input type="text" class="layui-input" name="titles[{$vo.id}]" value="{$vo.title}"></td>
            <td><input type="checkbox" lay-skin="primary" name="status[{$vo.id}]" value=1 title="禁用" {$vo.status?'checked':''}></td>
        </tr>
        {/volist}
        <tr>
            <td></td>
            <td><input type="text" class="layui-input" name="ords[0]" value=""></td>
            <td><input type="text" class="layui-input" name="titles[0]" value=""></td>
            <td><input type="checkbox" lay-skin="primary" name="status[0]" value=1 title="禁用"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>
<button class="layui-btn" onclick="save();">保存</button>

<script type="text/javascript">
    layui.use(['layer','form'],function(){
        $ = layui.jquery;
        layer = layui.layer;
        form = layui.form;
    });

    //保存菜单
    function save(){
        $.post('/admins.php/admins/labels/save',$('form').serialize(),function(res){
            if(res.code>0){
                layer.alert(res.msg, {'icon':2});
            }else{
                layer.msg(res.msg,{'icon':1});
                setTimeout(function(){window.location.reload();},1000);
            }
        },'json');
    }

</script>
</body>
</html>